.congrats-box {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
}

.congrats-box h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.congrats-box p {
  font-size: 16px;
  color: #777;
}

.congrats-box .icon {
  font-size: 50px;
  color: #55c57a;
  margin-bottom: 20px;
}
